
@{
    ViewBag.Title = "ارتباط با قصه لند";
}
<header>
    <div class="header-content">
        <p class="header-title font-white font-lg font-bold">
            ارتباط با قصه لند
        </p>
        <a href="@Url.Action(MVC.Story.Index())" class="left-menu">
            <i class="fas fa-search fa-times font-white"></i>
        </a>
    </div>
</header>
<div class="home main">
    <div class="row">
        <div class="col-12">
            <div class="contact">
                <br />
                <br />
                <div class="contact-item">
                    <div class="item-logo">
                        <img alt="tell" src="~/img/icons/contact-us/phone.png" />
                    </div>
                    <div class="content text-center">+9821-43409271</div>
                </div>
                <div class="contact-item">
                    <div class="item-logo">
                        <img alt="tell" src="~/img/icons/contact-us/email.png" />
                    </div>
                    <div class="content text-center">info@gheseland.com</div>
                </div>
                <div class="contact-item">
                    <div class="item-logo">
                        <img alt="tell" src="~/img/icons/contact-us/web.png" />
                    </div>
                    <div class="content text-center">
                        <a href="http://gheseland.com" class=" font-white">
                            www.gheseland.com
                        </a>
                    </div>
                </div>
                <div class="contact-item">
                    <div class="item-logo">
                        <img alt="tell" src="~/img/icons/contact-us/instagram.png" style="padding: 2px;" />
                    </div>
                    <div class="content text-center">
                        <a href=" https://bit.ly/2ModTt3" class=" font-white">
                            https://bit.ly/2ModTt3
                        </a>
                    </div>
                </div>
                <div class="contact-item">
                    <div class="item-logo">
                        <img alt="tell" src="~/img/icons/contact-us/telegram.png" style="padding: 3px;border-radius: 10px;" />
                    </div>
                    <div class="content text-center">
                        <a href="https://t.me/gheseland" class=" font-white">
                            https://t.me/gheseland
                        </a>
                    </div>
                </div>
                <br />
                <br />
                <p class="font-gray text-center">تمامی حقوق مادی و معنوی این برنامه متعلق به قصه لند میباشد.</p>
                <p class="font-gray text-center">www.gheseland.com</p>
            </div>
        </div>
    </div>
</div>
